meta(charset='utf-8')
meta(content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width', name='viewport')
meta(content='IE=edge', http-equiv='X-UA-Compatible')
meta(content='width=device-width, initial-scale=1', name='viewport')
meta(content='noodp, nodir, noydir', name='robots')
meta(content='noodp', name='googlebot')
meta(content='index, follow', name='robots')
meta(content='index, follow', name='googlebot')
meta(content='global', name='distribution')
meta(content='worldwide', name='coverage')
meta(content='© Greenlight VR, Inc.', name='copyright')
meta(content='GreenlightVR', property='og:site_name')
meta(content='website', property='og:type')
meta(content='en_US', property='og:local')
meta(content='Greenlight VR | Insights and Tools for the VR Industry', name='title')
meta(content='Greenlight VR is the industry leader in market intelligence for the global virtual reality economy. Begin a free trial and start making better strategic decisions.', name='description')
meta(content='Greenlight VR | Insights and Tools for the VR Industry', property='og:title')
meta(content='Greenlight VR is the industry leader in market intelligence for the global virtual reality economy. Begin a free trial and start making better strategic decisions.', property='og:description')
meta(content='http://data.ingreenlight.com/', property='og:url')
link(href='http://data.ingreenlight.com/', rel='canonical')