doctype html
html
  head
    title The GreenlightVR Data API

    //include components/metaTags

    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js")
    if env === 'production'
      script(type="text/javascript" src="/javascripts/bundle.min.js")
    else
      script(type="text/javascript" src="/javascripts/bundle.js")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="/stylesheets/style.css")

  body
    main.grey.lighten-5
