body {
  color: #333;
  font-size: 16px;
  font-weight: 300;
}
nav {
  box-shadow: none;
}
nav .brand-logo {
  max-width: 150px;
}
.glhp-home-hero {
  padding: 60px 20%;
}
.card-title,
.card-sub-title {
  border: 0;
  border-bottom: 1px solid #eee;
  margin-top: 27px;
  padding-bottom: 12px;
}
.list-disc {
  padding-left: 30px;
}
.list-disc li {
  list-style-type: disc;
}
